name: Changelog Updated for Release
on:
  pull_request:
    types: [assigned, opened, synchronize, reopened, labeled, unlabeled]
    branches:
      - main
jobs:
  build:
    name: Changelog Updated
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Changelog check
        uses: Zomzog/changelog-checker@9f2307a9f44fcbde2147bdb8a7fa724aaaaae16a
        with:
          fileName: CHANGELOG.md
          noChangelogLabel: skip-release
          checkNotification: Simple # default `Detailed`
